In [1]:
import pandas as pd
import random
import ipywidgets as widgets

In [53]:
participantes = pd.read_csv('courseid_85_participants.csv')
nombres = [n + ' ' + a for n, a in zip(participantes['Nombre'], participantes['Apellido(s)'])]

In [46]:
def seleccionar(nombres):
    elegido = random.choice(nombres)
    html = widgets.HTML(
            value='<font color="SeaGreen"><b>{}</b></font>'.format(elegido), 
            description='Ganador : '
    )
    display(html)
    nombres.remove(elegido)

In [47]:
seleccionar(nombres)

HTML(value='<font color="SeaGreen"><b>Fernando Chacón Meade</b></font>', description='Ganador : ')

In [54]:
lista = [1, 3, 4, 5, 6, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 26]

In [55]:
nuevo = participantes.iloc[lista]

In [57]:
nuevo.columns

Index(['Nombre', 'Apellido(s)', 'Dirección Email'], dtype='object')

In [58]:
nuevo = nuevo.drop(['Dirección Email'], axis=1)

In [60]:
renata = {'Nombre':'Renata', 'Apellido(s)':'Monsiváis Salas'}
julio = {'Nombre':'Julio César', 'Apellido(s)':'Quiñonez Pérez'}

In [61]:
nuevo = nuevo.append(renata, ignore_index=True)
nuevo = nuevo.append(julio, ignore_index=True)

In [63]:
nuevo['Tarea 1'] = [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 0, 10, 10, 10, 10, 10, 10, 10, 0]

In [64]:
nuevo['Tarea 2'] = [9.5, 10, 10, 8.5, 9.5, 8.5, 8.5, 9.0, 8.0, 9.5, 10, 8.5, 9.0, 9.5, 9.0, 10, 9.0, 9.5, 10, 10, 0]

In [65]:
nuevo['Presentación en Clase'] = [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [66]:
nuevo['Equipo'] = [5, 4, 5, 1, 5, 3, 2, 1, 1, 1, 5, 4, 3, 2, 4, 1, 3, 2, 4, 2, 2]

In [80]:
nuevo['Proyecto'] = [9.5, 9.5, 9.5, 9.5, 9.5, 
                     9.5, 9.0, 9.5, 9.5, 9.5,
                     9.5, 9.5, 9.5, 9.0, 9.5,
                     9.5, 9.5, 9.0, 9.5, 9.0,
                     9.0]

In [81]:
nuevo['Cal. Final'] =  (nuevo['Tarea 1'] + nuevo['Tarea 2']) * 0.20 / 2.0 + \
                        nuevo['Presentación en Clase'] * 0.10 + \
                        nuevo['Proyecto'] * 0.70

In [84]:
nuevo

,Nombre,Apellido(s),Tarea 1,Tarea 2,Presentación en Clase,Equipo,Proyecto,Cal. Final
0,Guadalupe Vanessa Carolina,Gutiérrez Hernández,10,9.5,10,5,9.5,9.60
1,Diego Adrián,Barrera Hernández,10,10.0,10,4,9.5,9.65
2,Isaac Antonio,Belmont Juárez,10,10.0,10,5,9.5,9.65
3,Luis Rafael,Castillo Rico,10,8.5,10,1,9.5,9.50
4,José Raúl,Castro Esparza,10,9.5,10,5,9.5,9.60
5,Pedro Pablo,Cortés Guerrero,10,8.5,10,3,9.5,9.50
6,Luis Alberto,Flores Rodríguez,10,8.5,10,2,9.0,9.15
7,Cristian Armando,Flores Álvarez,10,9.0,10,1,9.5,9.55
8,Carlos David,García Hernández,10,8.0,10,1,9.5,9.45
9,Karla Guadalupe,Huitrón Gutiérrez,10,9.5,10,1,9.5,9.60
10,Adriana,Jiménez Pineda,10,10.0,10,5,9.5,9.65
11,Rocío,Lopez Guzmán,10,8.5,10,4,9.5,9.50
12,Jesús,Márquez García,0,9.0,10,3,9.5,8.55
13,Manuel Alejandro,Morales Jiménez,10,9.5,10,2,9.0,9.25
14,Pamela Angélica,Puigvert Angulo,10,9.0,10,4,9.5,9.55
15,Abraham Alejandro,Reynoso Ávila,10,10.0,10,1,9.5,9.65
16,Luis Alfredo,Sánchez Galindo,10,9.0,10,3,9.5,9.55
17,Dariana,Vielma Gallegos,10,9.5,10,2,9.0,9.25
18,Carlos Andrés,González Jurado,10,10.0,10,4,9.5,9.65
19,Renata,Monsiváis Salas,10,10.0,10,2,9.0,9.30
20,Julio César,Quiñonez Pérez,0,0.0,10,2,9.0,7.30

In [83]:
nuevo.to_csv('Cal_Modulo14.csv')

In [85]:
nuevo.to_excel('Cal_Modulo14.xlsx')